<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    
    <sources>
      
      <!--<source name="ProtobufSockets.Subscriber" switchType="System.Diagnostics.SourceSwitch" switchValue="Information">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

      <source name="ProtobufSockets.SubscriberClient" switchType="System.Diagnostics.SourceSwitch" switchValue="Information">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

      <source name="ProtobufSockets.Publisher" switchType="System.Diagnostics.SourceSwitch" switchValue="Information">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

      <source name="ProtobufSockets.PublisherClient" switchType="System.Diagnostics.SourceSwitch" switchValue="Information">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
      
      <source name="ProtobufSockets.ProtoSerialiser" switchType="System.Diagnostics.SourceSwitch" switchValue="Information">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>-->



      <source name="ProtobufSockets.Subscriber" switchType="System.Diagnostics.SourceSwitch" switchValue="All">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

      <source name="ProtobufSockets.SubscriberClient" switchType="System.Diagnostics.SourceSwitch" switchValue="All">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

      <source name="ProtobufSockets.Publisher" switchType="System.Diagnostics.SourceSwitch" switchValue="All">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

      <source name="ProtobufSockets.PublisherClient" switchType="System.Diagnostics.SourceSwitch" switchValue="All">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
      
      <source name="ProtobufSockets.ProtoSerialiser" switchType="System.Diagnostics.SourceSwitch" switchValue="All">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>

    </sources>
    
  </system.diagnostics>
</configuration>